### Step_0 Retrieve tweets for brexit
In this notebook we retrive from twitter tweets that are relevant to brexit from different time-frames

In [1]:
import requests
import os
import json
import pandas as pd
import numpy as np
import csv , datetime, unicodedata, time, tweeterid #dateutil.parserm,
import gensim
import openpyxl
import json
from tqdm.notebook import tqdm_notebook

from os import path
from datetime import datetime
from collections import Counter
from inputimeout import inputimeout, TimeoutOccurred

In [2]:
from Brexit_Package import TwitterCrawler

my_token = 'NLP_is_fun' ### Of course one need to provide here a real valid token, unfortunelty we can't publish our token...
#my_token = "AAAAAAAAAAAAAAAAAAAAAPr2WAEAAAAARCTqXt1KnbCbnG4FzY8S8A5zoYg%3DYWyy0y9SQtwDenwjkU8UB662tfhm8yxZl3Ud3T3aEerCMT6B9W" #roy madpis
my_token = 'AAAAAAAAAAAAAAAAAAAAADRFOwEAAAAAaTp%2Bdd1OhobYMYb5ExPXm7IL6RA%3DDHknH402gOXoegUGxNtpC6giIjdackRLtdRx6tjrnnLeFN1ntT' #idc
my_twitter_crawler = TwitterCrawler(bearer_token= my_token)

In [3]:
limit_amount_of_returned_tweets = 25000
max_results = 500
dir_name = "Roy_tweets_brexit"
query = "(Brexit OR BREXIT OR brexit OR BRexit OR BREX OR brex OR brexi OR Brexi) lang:en -is:retweet -is:reply -is:quote -from:theresa_may -from:NicolaSturgeon -from:MichelBarnier -from:fhollande -from:PhilipHammondUK -from:DavidDavisMP -from:JunckerEU -from:guyverhofstadt -from:EndaKennyTD -from:hilarybennmp -from:MinPres -from:MartinSelmayr -from:Keir_Starmer -from:LiamFox -from:TimmermansEU -from:BorisJohnson -from:Nigel_Farage -from:ManfredWeber -from:davidmcallister -from:matteorenzi -from:SadiqKhan -from:cbicarolyn -from:rupertmurdoch -from:WeyandSabine -from:MLP_officiel -from:FrancesOGrady -from:giannipittella -from:MalmstromEU -from:TheGinaMiller -from:CER_Grant -from:AMCarwyn -from:AlunCairns -from:DominicRaab  -from:michaelgove  -from:theJeremyVine -from:George_Osborne  -from:michaelhsltine_  -from:WilliamJHague -from:ChukaUmunna -from:jeremycorbyn -from:Dyson -from:SteveO_Connell -from:MorrisseyHelena -from:GroovyTimbo"
 

print(limit_amount_of_returned_tweets*8)

200000

### Retrive tweets from 2014

In [16]:
start_time = "2014-01-01T00:00:00Z"
end_time = "2014-12-31T00:00:00Z"
csv_table_name = "brexit_2014"
limit_amount_of_returned_tweets = 40000
###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = False, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2014 already exist
no more tweets from this user
Total amount of collected tweets =  4252

### Retrive tweets from 2015

In [5]:
start_time = "2015-01-01T00:00:00Z"
end_time = "2015-12-31T00:00:00Z"
csv_table_name = "brexit_2015"

###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = True, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2015 already exist
1 Got from twitter 487 tweets, and there are more tweets of that user to get, I am bringing more tweets!

21 Got from twitter 490 tweets, and there are more tweets of that user to get, I am bringing more tweets!

41 Got from twitter 494 tweets, and there are more tweets of that user to get, I am bringing more tweets!

oooops, There may be more tweets to return, but you asked to limit the amount of returned tweets
infact you got 25002 returned tweets and limited the function to get 25000 tweets

### Retrive tweets from 2016

In [6]:
start_time = "2016-01-01T00:00:00Z"
end_time = "2016-12-31T00:00:00Z"
csv_table_name = "brexit_2016"

###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = True, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2016 already exist
1 Got from twitter 495 tweets, and there are more tweets of that user to get, I am bringing more tweets!

21 Got from twitter 493 tweets, and there are more tweets of that user to get, I am bringing more tweets!

41 Got from twitter 498 tweets, and there are more tweets of that user to get, I am bringing more tweets!

oooops, There may be more tweets to return, but you asked to limit the amount of returned tweets
infact you got 25009 returned tweets and limited the function to get 25000 tweets

### Retrive tweets from 2017

In [7]:
start_time = "2017-01-01T00:00:00Z"
end_time = "2017-12-31T00:00:00Z"
csv_table_name = "brexit_2017"

###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = True, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2017 already exist
1 Got from twitter 489 tweets, and there are more tweets of that user to get, I am bringing more tweets!

21 Got from twitter 488 tweets, and there are more tweets of that user to get, I am bringing more tweets!

41 Got from twitter 492 tweets, and there are more tweets of that user to get, I am bringing more tweets!

oooops, There may be more tweets to return, but you asked to limit the amount of returned tweets
infact you got 25004 returned tweets and limited the function to get 25000 tweets

### Retrive tweets from 2018

In [8]:
start_time = "2018-01-01T00:00:00Z"
end_time = "2018-12-31T00:00:00Z"
csv_table_name = "brexit_2018"

###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = True, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2018 already exist
1 Got from twitter 489 tweets, and there are more tweets of that user to get, I am bringing more tweets!

21 Got from twitter 493 tweets, and there are more tweets of that user to get, I am bringing more tweets!

41 Got from twitter 482 tweets, and there are more tweets of that user to get, I am bringing more tweets!

oooops, There may be more tweets to return, but you asked to limit the amount of returned tweets
infact you got 25003 returned tweets and limited the function to get 25000 tweets

### Retrive tweets from 2019

In [9]:
start_time = "2019-01-01T00:00:00Z"
end_time = "2019-12-31T00:00:00Z"
csv_table_name = "brexit_2019"

###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = True, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2019 already exist
1 Got from twitter 484 tweets, and there are more tweets of that user to get, I am bringing more tweets!

21 Got from twitter 490 tweets, and there are more tweets of that user to get, I am bringing more tweets!

41 Got from twitter 478 tweets, and there are more tweets of that user to get, I am bringing more tweets!

oooops, There may be more tweets to return, but you asked to limit the amount of returned tweets
infact you got 25007 returned tweets and limited the function to get 25000 tweets

### Retrive tweets from 2020

In [10]:
start_time = "2020-01-01T00:00:00Z"
end_time = "2020-12-31T00:00:00Z"
csv_table_name = "brexit_2020"

###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = True, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2020 already exist
1 Got from twitter 487 tweets, and there are more tweets of that user to get, I am bringing more tweets!

21 Got from twitter 482 tweets, and there are more tweets of that user to get, I am bringing more tweets!

41 Got from twitter 487 tweets, and there are more tweets of that user to get, I am bringing more tweets!

oooops, There may be more tweets to return, but you asked to limit the amount of returned tweets
infact you got 25001 returned tweets and limited the function to get 25000 tweets

### Retrive tweets from 2021

In [11]:
start_time = "2021-01-01T00:00:00Z"
end_time = "2021-12-31T00:00:00Z"
csv_table_name = "brexit_2021"

###########################################
json_response_list, num_of_returned_tweets, next_tokens  = my_twitter_crawler.return_tweets_given_query(
    query=query,
    start_time = start_time,
    end_time = end_time,
    max_results = max_results, evaluate_last_token = True,
    limit_amount_of_returned_tweets = limit_amount_of_returned_tweets,
   verbose_10 = True, dir_name =dir_name, csv_table_name = csv_table_name)

The dir Roy_tweets_brexit already exist
The dir Roy_tweets_brexit\log_tweets already exist
The dir Roy_tweets_brexit\log_tweets\brexit_2021 already exist
1 Got from twitter 497 tweets, and there are more tweets of that user to get, I am bringing more tweets!

21 Got from twitter 494 tweets, and there are more tweets of that user to get, I am bringing more tweets!

41 Got from twitter 490 tweets, and there are more tweets of that user to get, I am bringing more tweets!

oooops, There may be more tweets to return, but you asked to limit the amount of returned tweets
infact you got 25008 returned tweets and limited the function to get 25000 tweets

In [ ]:
#######################################################################################

## Retrieve tweets given tweet-id
We have 4.5M tweet-ids with classification for positive/negative/neutral tweets,
We wish to read them from twitter using the Brexit Package

In [68]:
### Reading all the tweet-ids + the sentiment and save those in a table
location_of_txt_files = "nlp-project/data_folder/tweets_4_5M/Brexit_tweets_stance"

#tqdm_notebook(filtered_table.clean_text):
df_all = pd.DataFrame({"tweet_id":[0], "sentimnt":[0]})

for i, file in tqdm_notebook(enumerate(os.listdir(location_of_txt_files))):
    tweet_ids= []
    sentiments = []
    try:
        with open(os.path.join(location_of_txt_files, file)) as f:
            lines = f.readlines()
            for line in lines:
                tweet_id, sentiment = line.split()
                tweet_ids.append(tweet_id)
                sentiments.append(sentiment)
            df = pd.DataFrame({"tweet_id":tweet_ids, "sentimnt":sentiments})
            df_all = pd.concat([df_all, df])
    except:
        print(file)

0it [00:00, ?it/s]

UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 6: character maps to <undefined>

In [27]:
df_all.head(10)

   Unnamed: 0            tweet_id  sentimnt
0           0  730759428430008320  Positive
1           1  730759413938655232  Negative
2           2  730759400445644801  Positive
3           3  730759393965412352   Neutral
4           4  730759392925261824  Positive
5           5  730759383253192705   Neutral
6           6  730759377548918784  Negative
7           7  730759375174897664   Neutral
8           8  730759372603789313  Negative
9           9  730759366530478080   Neutral

In [71]:
### save all the data in a file
df_all = df_all[df_all["tweet_id"]!=0]
print("number of tweets:", df_all.shape[0])
df_all = df_all.drop_duplicates(subset=["tweet_id"])
print("number of tweets after removing duplicate ids:", df_all.shape[0])
print("Saving the table in a csv file")
df_all.to_csv(os.path.join("data_folder/tweets_4_5M", "all_tweetids_and_semtiment.csv"))

In [9]:
#df_all= pd.read_csv("data_folder/tweets_4_5M/all_tweetids_and_semtiment.csv")

# Reading the tweets by tweet id and add the sentiment that we have

In [1]:
import requests
import os
import json
import pandas as pd
import numpy as np
import csv , datetime, unicodedata, time, tweeterid #dateutil.parserm,
import gensim
import openpyxl
import json
import tqdm
from tqdm.notebook import tqdm_notebook

from os import path
from datetime import datetime
from collections import Counter
from inputimeout import inputimeout, TimeoutOccurred

from Brexit_Package import TwitterCrawler

my_token = 'NLP_is_fun' ### Of course one need to provide here a real valid token, unfortunelty we can't publish our token...
#my_token = "AAAAAAAAAAAAAAAAAAAAAPr2WAEAAAAARCTqXt1KnbCbnG4FzY8S8A5zoYg%3DYWyy0y9SQtwDenwjkU8UB662tfhm8yxZl3Ud3T3aEerCMT6B9W" #roy madpis
my_token = 'AAAAAAAAAAAAAAAAAAAAADRFOwEAAAAAaTp%2Bdd1OhobYMYb5ExPXm7IL6RA%3DDHknH402gOXoegUGxNtpC6giIjdackRLtdRx6tjrnnLeFN1ntT' #idc
my_twitter_crawler = TwitterCrawler(bearer_token= my_token)

In [8]:
### reading the table with all the tweets ids we know their sentiment, there are about 5M tweets
df_all= pd.read_csv("data_folder/tweets_4_5M/all_tweetids_and_semtiment.csv")
print("Number of tweets we have sentiment labels on them:", df_all.shape[0])

Number of tweets we have sentiment labels on them: 5499483

In [9]:
### we will not export all those 5M tweets, we will retrive 100K of them
total_amount_of_tweets_we_want = 100000
tweet_ids_n = list(df_all.tweet_id[0:total_amount_of_tweets_we_want])
print(len(tweet_ids_n))

### turn the tweet-ids from numbers to strings
tweet_ids = []
for i in tweet_ids_n:
    tweet_ids.append(str(i))

100000

### check which tweet ids were already evaluated
In this way we won't read the same tweet-id twice

In [10]:

##################################
all_tweet_ids = tweet_ids
dir_name = "tweets_by_tweet_ids"
csv_table_name = "brexit_tweet_ids"

##############################################################################################3
#### we don't want to get data on tweet-ids that we already searched for their tweets!
# thus we first need to see which of the tweet-ids that are inserted in the list are **not** in the log-file we already have:
from os import listdir
from os.path import isfile, join

import os.path
try:
    os.mkdir(dir_name)
    print("creating directory", dir_name, "to insert all the tables of all the tweet-idss")
except:
    print("The dir", dir_name ,"already exist")

location_of_log_tweetids_txt_file = os.path.join(dir_name, "log_tweets", csv_table_name, "evaluated_tweet_ids.txt")

#tqdm_notebook(filtered_table.clean_text):
evaluated_tweet_ids = []
try:
    with open(location_of_log_tweetids_txt_file) as f:
        lines = f.readlines()
        for line in lines:
            tweet_id = line.split()
            evaluated_tweet_ids.append(tweet_id[0])        
except:
    print("file not existed")

tweet_ids_we_have_data = evaluated_tweet_ids
tweet_ids_to_search = list(set(all_tweet_ids) - set(tweet_ids_we_have_data))
    
if len(tweet_ids_to_search) > 20:
    print("There are", len(tweet_ids_to_search), "tweet ids to search; see here the first 20:")
    print(tweet_ids_to_search[0:20])
else:
    print("Tweet ids to search:",tweet_ids_to_search)
    print("-----------------------------------------------")
print()
if len(tweet_ids_we_have_data) > 20:
    print("There are", len(tweet_ids_we_have_data), "Tweet ids we already have data on --> here are the first 20:")
    print(tweet_ids_we_have_data[0:20])
else : print("Tweet-ids we already have data on:",list(set(all_tweet_ids).intersection(tweet_ids_we_have_data)))

#print("Tweet-ids to search:",tweet_ids_to_search)
print("-----------------------------------------------")

The dir tweets_by_tweet_ids already exist
There are 90000 tweet ids to search; see here the first 20:
['731573541964021760', '731409988942479360', '731608769713586176', '731233111980294144', '731165221629378561', '730910784662949888', '730907143415681026', '731126880691204096', '731351703455469568', '731157095366705153', '731507459303604224', '731410074535636992', '731405344220565504', '731243652043919360', '731599855597060096', '731039357512089600', '731026417786474496', '731159984931737601', '731082378014294016', '731187202391166976']

There are 10000 Tweet ids we already have data on --> here are the first 20:
['730759365142167552', '730759363175034880', '730759334796349440', '730759346766876672', '730759344879505409', '730759317884915712', '730759310754611201', '730759317075439617', '730759295478960129', '730759305792749568', '730759304253452289', '730759296955367424', '730759278630424577', '730759264386617344', '730759228223279104', '730759251883347968', '730759256530661377', '730759212268052480', '730759244979396608', '730759212163305472']
-----------------------------------------------

In [ ]:
json_response_list, num_of_returned_tweets, problematic_batches = my_twitter_crawler.return_tweets_given_tweet_ids_new(
    tweet_ids=tweet_ids_to_search,
    number_of_tweets_in_batch = 100,
    verbose_10 = True, dir_name = dir_name,
    csv_table_name = csv_table_name,
    api_error_sleep_secs = 15)

The dir tweets_by_tweet_ids already exist
The dir tweets_by_tweet_ids\log_tweets already exist
The dir tweets_by_tweet_ids\log_tweets\brexit_tweet_ids already exist

  0%|          | 0/900 [00:00<?, ?it/s]

## Combining the sentiment table with the tweet we exported from twitter

In [6]:
### read dataframe with all the tweet-ids and the data on them - that we exported from twitter
tweets_no_sentiment = pd.read_csv(os.path.join(dir_name,csv_table_name + ".csv"))

### cleaning the data and remove duplicates
tweets_no_sentiment = tweets_no_sentiment.drop(labels = ["Unnamed: 0"], axis = 1)
tweets_no_sentiment = tweets_no_sentiment.drop_duplicates(subset=["id", "created_at"])
print("Number of tweets we read from twitter:", tweets_no_sentiment.shape[0])

### read dataframe with all the tweet-ids and the sentiment
df_all= pd.read_csv("data_folder/tweets_4_5M/all_tweetids_and_semtiment.csv")
df_all = df_all.drop(labels = ["Unnamed: 0"], axis = 1)

### Merging the two tables so we will have one table with the tweets data + sentiment labels
tweets_with_sentiment = pd.merge(left = tweets_no_sentiment, right = df_all, how = "inner", left_on='id', right_on='tweet_id')
print("Number of tweets with sentiment:", tweets_with_sentiment.shape[0])

tweets_with_sentiment.head()

Number of tweets we read from twitter: 5334
Number of tweets with sentiment: 5334

,author_id,author_id_new,conv_id_new,conversation_id,created_at,entities.mentions,id,id_new,public_metrics.like_count,public_metrics.quote_count,...,users.id,users.name,users.public_metrics.followers_count,users.public_metrics.following_count,users.public_metrics.listed_count,users.public_metrics.tweet_count,users.username,users.verified,tweet_id,sentimnt
0,137099503,author_id: 137099503,conv_id: 730759365142167552,730759365142167552,2016-05-12T13:59:44.000Z,NaN,730759365142167552,id: 730759365142167552,2,0,...,137099503,Fony Blair,463,71,18,22398,FonyBlair,False,730759365142167552,Neutral
1,367718336,author_id: 367718336,conv_id: 730759317884915712,730759317884915712,2016-05-12T13:59:32.000Z,NaN,730759317884915712,id: 730759317884915712,0,0,...,367718336,Janice Morphet,3623,5000,433,301390,janicemorphet,False,730759317884915712,Neutral
2,1299769218,author_id: 1299769218,conv_id: 730759295478960129,730759295478960129,2016-05-12T13:59:27.000Z,NaN,730759295478960129,id: 730759295478960129,4,0,...,1299769218,Kay Burley,558874,359,1630,81943,KayBurley,True,730759295478960129,Neutral
3,2772884435,author_id: 2772884435,conv_id: 730759278630424577,730759278630424577,2016-05-12T13:59:23.000Z,NaN,730759278630424577,id: 730759278630424577,0,0,...,2772884435,Risethefyrd,1206,1415,25,31524,ernieharding59,False,730759278630424577,Positive
4,2867356894,author_id: 2867356894,conv_id: 730759264386617344,730759264386617344,2016-05-12T13:59:20.000Z,NaN,730759264386617344,id: 730759264386617344,0,0,...,2867356894,Dr C L Spillard,2922,2474,122,64418,CandiSpillard,False,730759264386617344,Negative

In [7]:
### writing the table as csv
tweets_with_sentiment.to_csv(os.path.join("data_folder/tweets_4_5M", "tweets_with_sentiment_roy_approve.csv"))